.popular-cl{
    color: rgb(238, 135, 197);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* margin-left: 80px; */
   
}
/* button styles */
#card-button{
    border: 2px solid rgb(211, 5, 211);
    background-color: white;
    color: rgb(211, 5, 211);
    border-radius: 10px;
}
#card-button:hover{
    color: white;
    background-color: rgb(223, 77, 223);
    transition: 2s;
}
.intntory-btn{
    border:2px solid rgb(211, 5, 211);
    border-radius: 18px;
    color:white;
    background-color:rgb(249, 82, 249) ;
    margin-top: 20px;
}
.intntory-btn:hover{
    color: rgb(211, 5, 211);
    background-color: white;
    border:2px solid rgb(211, 5, 211)
}
/* mobile responaive */
@media screen and (max-width:576px) {
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
       
    }
}