.blog-container{
    background-color: rgb(254, 238, 254);
    box-shadow:0 4px 8px 2px rgb(217, 89, 217);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
    width: 70%;
}