nav a{
    color:black;
    text-decoration: none;
    margin-left: 10px;
}
nav a:hover{
    color: rgb(211, 5, 211);
}
.sign-in{
    border: 2px solid rgb(211, 5, 211);
    border-radius: 5px;
}
.sign-in:hover{
    color: white;
    background-color: rgb(223, 77, 223);
    transition: 2s;
}
/* media resposvise for nav for mobile devices */
@media screen and (max-width:576px){
    nav a{
        display: flex;
        flex-direction: column;
    }
}