.nav-container {
    background-color: rgb(245, 229, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
 
}

.title {
    color: rgb(211, 5, 211);
}