
.why-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-wu{
    color: rgb(238, 135, 197);
    font-weight: bold;
}
.ques-img{
    width: 450px;
    height: 450px;
}
