.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    gap: 30px;
    margin-top: 10px;
    background-color: rgb(247, 229, 247);
}
.footer-container a{
    color: purple;
    display: block;
    text-decoration: none;
}
.footer-container a:hover{
    color: rgb(223, 77, 223);
}
.input-field{
    border: 2px solid rgb(211, 5, 211);
}
