.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-text{
    justify-content: center;
    align-items: center;
}
.banner-text p{
    color:purple;
}

.text{
    color: rgb(217, 89, 217);
}
.img-container img{
    height: 500px;
    width: 500px;
    margin-top: 15px;
}
.img-container img:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;  
}
.button{
    border: 2px solid rgb(211, 5, 211);
    background-color: white;
    color: rgb(211, 5, 211);
    border-radius: 10px;
}
.button:hover{
    color: white;
    background-color: rgb(223, 77, 223);
    transition: 2s;
}
/* medis responsive for mobile devices */
@media screen and (max-width:576px) {
    /* .banner-text{
        order: 2;
    }
    .img-container img{
        order: 1;
    } */
}